.header {
  display: flex;
  height: 4rem;
  padding: 0.8rem 1rem;
  background: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
}

.button {
  height: 39px;
  cursor: pointer;
  outline: 0;
  background-color: darkgray;
  transition: all 0.2s;
}

.button:hover {
  transform: scale(1.1);
}

.btnImg {
  height: 100%;
  padding: 0.5rem 0.2rem;
}
